.mainPageContent
{
    padding-top: 50;
    width: 95%;
    margin: auto;
    text-align: center;
}

.mainPageTitle
{
    font-size: 50px;
    font-weight: normal;
    color: #efefef;
    font-style: bold;
    margin-bottom: 10px;
}

/* .mainPageTitle h1
{
    display: inline-block;
    padding: 5px;
    background-color: #000;
} */

/* .mainPageInfoBox
{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 49px;
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mainPageInfoBox .infoBoxSubmitButton, .mainPageInfoBox .infoBoxTextField, .mainPageInfoBox .infoBoxBearerToken
{
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    border: none;
}

.mainPageInfoBox .infoBoxSubmitButton
{
    background-color: rgb(26, 26, 26);
    color: #fff;
    cursor: pointer;
    transition: 0.25s;
    width: 150px;
}

.mainPageInfoBox .infoBoxSubmitButton:hover
{
    background-color: rgb(255, 174, 0);
}

.mainPageInfoBox .infoBoxTextField
{
    width: 350px;
}

.mainPageInfoBox .infoBoxTextField:focus
{
    outline: 0;
}

.mainPageInfoBox .infoBoxBearerToken
{
    border-radius: 50px;
    width: 400px;
}

.mainPageInfoBox .infoBoxBearerToken:focus
{
    outline: 0;
}

.responseBox
{
    width:650px;
    min-height: 400px;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgb(19, 19, 19);
    color: #00d100;
    padding: 10px;
    border-radius: 8px;
    word-wrap: break-word;
    text-align: left;
}



.responseTrack
{
    padding: 5px;
    border-radius: 50px;
    background-color: #efefef;

    width: 95%;
    margin: 5px auto 5px auto;
}

.responseTrack p
{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left:5px;
    color: #333;

    padding-left: 10px;
} */

.loginBox .loginButton
{
    width: 50px;
    height: 25px;
    margin: auto;
    margin-top: 2px;
    cursor: pointer;
}

.loginBox .loginButton
{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: inline-block;
  padding: 15px;
  font-family: 'Nunito';
  font-style: bold;
  font-size: 25px;
  border: none;
}

.loginBox .loginButton
{
  background-color: #1DB954;
  color: #fff;
  cursor: pointer;
  transition: 0.25s;
  width: 300px;
  height: 75px;
}

.loginBox .loginButton:hover
{
  background-color: rgb(255, 174, 0);
}