.playlistsTitle {
  color: white;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Nunito';
  font-size: 30px;
  font-weight: bold; 
}

.left .right .playlistContainer
{
  display: inline-block;
  padding: 15px;
  border: 0.5px;
}

.left
{
  float: left;
  width: 33.33%;
  margin: auto;
  display: block;
}
.right
{
  float: right;
  width: 33.33%;
  margin: auto;
  display: block;
}

.playlistContainer {
  color: white;
  /* padding: 20px; */
  text-align: left;
  text-decoration: none;
  display: block;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: bold;
  max-width:95%;
  width: 400px;
  margin: 5px auto;
  background-color: #1DB954; /* Green */
  border-radius: 50px;
  cursor: pointer;
  /* border: 1px solid #ffffff; */
  /* box-sizing: border-box; */
  transition: 0.25s;
  border: 0.5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.user-playlists
{
  display: block;
  overflow: auto;
  height: 475px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #707070; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

.playlistContainer:hover
{
  background-color: rgb(255, 174, 0);
}

.playlistContainer:focus
{
  outline: none;
}