.outlierstitle
{
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Nunito';
  font-size: 30px;
  font-weight: bold;
}

.allOutliersContainer
{
  display: inline-block;
  width: 30%;
  height: 475px;
  overflow: auto;
  padding-right: 30px;
}

.outlierContainer
{
  padding: 5px;
  margin: 5px 0 5px 0;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  max-width: 100%;
}