.outlierstitle
{
  padding-top: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Nunito';
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.allOutliersContainer
{
  display: inline-block;
  width: 30%;
  height: 475px;
  overflow: auto;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.outlierContainer
{
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.genericButton
{
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color: #1DB954; /* Green */
  border-radius: 50px;
  cursor: pointer;
  transition: 0.25s;
  border: 0.5px;
}

.genericButton:hover
{
  background-color: rgb(255, 174, 0);
}
