<div class="score-breakdown">
  <div class="composite-score">
    <p #metricSelectedDisplay>
      Overall Playlist Synergy:
    </p>
    <div class="circleBorder">
      <div class="results">
        <p id="averageDisplay" #averageDisplay *ngIf="synergyScore">
          {{synergyScore}}
        </p>
      </div>
    </div>
  </div>
  <div class="spacer">
    <p></p>
  </div>
  <div class="outlier-button">
    <button class="genericbutton" type="button" (click)="getOutliers()">Click To See Outliers</button>
  </div>
</div>

<div class="all-metrics-title">
  Metric Breakdown:
</div>

<section class="metric-graph metric-graph-horizontal metric-graph-one">
  


  <br>

  <div class="acousticness">  
    <div class="title">
      {{compositeAcousticnessTitle}}: {{compositeAcousticnessScore}}
    </div>
    <div class="container">
    <div class="bar" style="--c: {{compositeAcousticnessBar}}">
      </div>
    </div>
  </div>

  <br>

  <div class="danceability"> 
    <div class="title">
      {{compositeDanceabilityTitle}}: {{compositeDanceabilityScore}}
    </div>
    <div class="container">
      <div class="bar" style="--c: {{compositeDanceabilityBar}}">
      </div>
    </div>
  </div>

  <br>

  <div class="duration"> 
    <div class="title">
      {{compositeDurationTitle}}: {{compositeDurationScore}}
    </div>
    <div class="container">
      <div class="bar" style="--c: {{compositeDurationBar}}">
      </div>
    </div>
  </div>

  <br>

  <div class="energy"> 
    <div class="title">
      {{compositeEnergyTitle}}: {{compositeEnergyScore}}
    </div>
    <div class="container">
      <div class="bar" style="--c: {{compositeEnergyBar}}">
      </div>
    </div>
  </div>

  <br>

  <div class="instrumentalness"> 
    <div class="title">
      {{compositeInstrumentalnessTitle}}: {{compositeInstrumentalnessScore}}
    </div>
    <div class="container">
      <div class="bar" style="--c: {{compositeInstrumentalnessBar}}">
      </div>
    </div>
  </div>

  <br>

  <div class="liveness"> 
    <div class="title">
      {{compositeLivenessTitle}}: {{compositeLivenessScore}}
    </div>
    <div class="container">
      <div class="bar" style="--c: {{compositeLivenessBar}}">
      </div>
    </div>
  </div>

  <br>

  <div class="mode"> 
    <div class="title">
      {{compositeModeTitle}}: {{compositeModeScore}}
    </div>
    <div class="container">
      <div class="bar" style="--c: {{compositeModeBar}}">
      </div>
    </div>
  </div>

  <br>

  <div class="speechiness"> 
    <div class="title">
      {{compositeSpeechinessTitle}}: {{compositeSpeechinessScore}}
    </div>
    <div class="container">
      <div class="bar" style="--c: {{compositeSpeechinessBar}}">
      </div>
    </div>
  </div>

  <br>

  <div class="tempo"> 
    <div class="title">
      {{compositeTempoTitle}}: {{compositeTempoScore}}
    </div>
    <div class="container">
      <div class="bar" style="--c: {{compositeTempoBar}}">
      </div>
    </div>
  </div>

  <br>

  <div class="time-signature"> 
    <div class="title">
      {{compositeTimeSignatureTitle}}: {{compositeTimeSignatureScore}}
    </div>
    <div class="container">
      <div class="bar" style="--c: {{compositeTimeSignatureBar}}">
      </div>
    </div>
  </div>

  <br>

  <div class="valence"> 
    <div class="title">
      {{compositeValenceTitle}}: {{compositeValenceScore}}
    </div>
    <div class="container">
      <div class="bar" style="--c: {{compositeValenceBar}}">
      </div>
    </div>
  </div>
</section>