<div class="score-breakdown">
  <div class="composite-score">
    <p #metricSelectedDisplay>
      Overall Playlist Synergy:
    </p>
    <div class="circleBorder">
      <div class="results">
        <p id="averageDisplay" #averageDisplay *ngIf="synergyScore">
          {{synergyScore}}
        </p>
      </div>
    </div>
  </div>
  <div class="spacer">
    <p></p>
  </div>
  <div class="outlier-button">
    <button class="genericbutton" type="button" (click)="getOutliers()">Click To See Outliers</button>
  </div>
</div>

<div class="all-metrics-breakdown">
  
  <div class="all-metrics-title">
    Metric Breakdown:
  </div>

  <div class="metric">  
    <div class="acousticness-title">
      {{compositeAcousticnessTitle}}
    </div>
    <div class="acousticness-score">
      {{compositeAcousticnessScore}}
    </div>
  </div>

  <div class="metric"> 
    <div class="danceability-title">
      {{compositeDanceabilityTitle}}
    </div>
    <div class="danceability-score">
      {{compositeDanceabilityScore}}  
    </div>
  </div>


  <div class="metric"> 
    <div class="duration-title">
      {{compositeDurationTitle}}
    </div>
    <div class="duration-score">
      {{compositeDurationScore}}
    </div>
  </div>


  <div class="metric"> 
    <div class="energy-title">
      {{compositeEnergyTitle}}
    </div>
    <div class="energy-score">
      {{compositeEnergyScore}}
    </div>
  </div>


  <div class="metric"> 
    <div class="instrumentalness-title">
      {{compositeInstrumentalnessTitle}}
    </div>
    <div class="instrumentalness-score">
      {{compositeInstrumentalnessScore}}
    </div>
  </div>


  <div class="metric"> 
    <div class="liveness-title">
      {{compositeLivenessTitle}}
    </div>
    <div class="liveness-score">
      {{compositeLivenessScore}}
    </div>
  </div>


  <div class="metric"> 
    <div class="mode-title">
      {{compositeModeTitle}}
    </div>
    <div class="mode-score">
      {{compositeModeScore}}
    </div>
  </div>


  <div class="metric"> 
    <div class="speechiness-title">
      {{compositeSpeechinessTitle}}
    </div>
    <div class="speechiness-score">
      {{compositeSpeechinessScore}}
    </div>
  </div>


  <div class="metric"> 
    <div class="tempo-title">
      {{compositeTempoTitle}}
    </div>
    <div class="tempo-score">
      {{compositeTempoScore}}
    </div>
  </div>

  <div class="metric"> 
    <div class="time-signature-title">
      {{compositeTimeSignatureTitle}}
    </div>
    <div class="time-signature-score">
      {{compositeTimeSignatureScore}}
    </div>
  </div>

  <div class="metric"> 
    <div class="valence-title">
      {{compositeValenceTitle}}
    </div>
    <div class="valence-score">
      {{compositeValenceScore}}
    </div>
  </div>
</div>