<header>
  <div class='container'>
    <img src='assets/logo.png' alt='logo' class='logo'>
    <nav>
      <ul>
        <li><a (click)="LogoutUser()">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="mainPageContent">
  <div class="mainPageTitle">
    <h1>Analyze A Playlist</h1>
  </div>

  <div class="mainPageInfoBox dropShadow">
    <input type="url" name="linkSubmit" id="linkSubmit" [(ngModel)]="linkSubmitStr" [value]="linkSubmitStr" class="infoBoxTextField" placeholder="Enter playlist URL/URI/ID here">
    <button class="infoBoxSubmitButton" (click)="AnalysisButtonClicked()">Analyze Playlist</button>
  </div>

  <div class="inputExceptionMessage" [hidden]="hideValidPlaylistError">
    <h3>Invalid URL, URI or ID</h3>
  </div>
  
  <div class="userPlaylists" [hidden]="hideAllPlaylists">
    <div class="left">
      <br>
    </div>
    <div class="right">
      <br>
    </div>
    <app-user-playlists #appUserPlaylists [userPlaylists]="allPlaylists" (onNextPlaylistsButtonClick)="GetNextPlaylists()" (onPrevPlaylistsButtonClick)="GetPrevPlaylists()" (onPlaylistSelected)="OnPlaylistClicked($event)"></app-user-playlists>
  </div>

  <div class="responseBox dropShadow" [hidden]="hidden">

    <div>
      <div class="widget">
        <iframe [src]="widgetSubmitStr | safe" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>

      <app-composite-score #appCompositeScore (OutliersRequested)="outliersButtonClicked($event)" (PlaylistsRequested)="OnInnerPlaylistClicked($event)"></app-composite-score>

      <!-- Display the outliers: -->
      <app-outliers #outlierList [hidden]="hideOutliers" (MetricsRequested)="metricsButtonClicked($event)"></app-outliers>

      <app-user-playlists #appInnerUserPlaylists [userPlaylists]="allPlaylists" (onPlaylistSelected)="OnPlaylistClicked($event)" (onNextPlaylistsButtonClick)="GetNextPlaylists()" (onPrevPlaylistsButtonClick)="GetPrevPlaylists()" [hidden]="hideInnerAllPlaylists"></app-user-playlists>

    </div>
  </div>

</div>
