.mainPageContent
{
  padding-top: 50;
    width: 95%;
    margin: auto;
    text-align: center;
}

.mainPageTitle
{
  font-size: 24px;
  color: #efefef;
  font-weight: bold;
  margin-bottom: 10px;
}

.mainPageInfoBox
{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 49px;
  overflow: hidden;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mainPageInfoBox .infoBoxSubmitButton, .mainPageInfoBox .infoBoxTextField, .mainPageInfoBox .infoBoxBearerToken
{
  display: inline-block;
  padding: 15px;
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 16px;
  border: none;
}

.mainPageInfoBox .infoBoxSubmitButton
{
  background-color: #1DB954;
  color: #fff;
  cursor: pointer;
  transition: 0.25s;
  width: 150px;
}

.mainPageInfoBox .infoBoxSubmitButton:hover
{
  background-color: rgb(255, 174, 0);
}

.mainPageInfoBox .infoBoxTextField
{
  width: 350px;
  font-family: 'Nunito';
  font-weight: bold;
}

.responseBox
{
  width:85%;
  min-height: 400px;
  margin: auto;
  font-family: 'Nunito';
  color: #ffffff;
  padding: 10px 10px 0 10px;
  border-radius: 8px;
  word-wrap: break-word;
  text-align: center;
}

.responseTrack
{
  padding: 5px;
  border-radius: 50px;
  background-color: #efefef;

  width: 95%;
  margin: 5px auto 5px auto;
}

.responseTrack p
{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left:5px;
  color: #333;

  padding-left: 10px;
}

.widget 
{
  padding-top: 20px;
  width: 30%;
  float: right;
}

.widget iframe{
  margin: 0 auto;
  width: 100%;
  height: 550px;
}

.tracklist
{
  font-family: 'Nunito';
  font-weight: bold;
  margin:0 auto;
  padding:5px;
  height: 550px;
  overflow: auto; 
  text-align:justify; 
}

.composite-score
{
  font-family: 'Nunito';
  font-weight: bold;
  float: left;
  width: 30%;
}

.mainPageInfoBox .loginBox
{
  width: 50px;
  height: 25px;
  margin: auto;
  margin-top: 2px;
  cursor: pointer;
}

.container 
{
  width: 90%;
  margin: 0 auto;
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 25px;
}
header{
  background-color: #333 0;
}

header::after{
  content:'';
  display: table;
  clear: both;
}

.logo
{
  float: left;
  height: 65px;
  width: auto;
  padding: 10px 0;
}

nav
{
text-decoration: none;
float: right;
}

nav a
{
color: white;
text-decoration: none;
border-bottom: 3px solid transparent;
}

nav a:visited
{
  text-decoration: none;
  color: white;

}

nav a:hover
{
  background-color:transparent; 
  text-decoration:none;
  border-bottom: 3px solid #1DB954;
  color: #1DB954;
}

nav a.active 
{
  border-bottom: 3px solid white;
}

nav ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li
{
  display: inline-block;
  margin-left: 35px;
  padding-top: 25px;
}
