<div class="mainPageContent">
  <div class="mainPageTitle">
    <h1>#Spotify Playlist Analyzer</h1>
  </div>
  <div class="mainPageInfoBox dropShadow">
    <!--Playlist button-->
    <app-category-selector #appCategorySelector [categoriesIn]="categories"></app-category-selector>
    <input type="url" name="linkSubmit" id="linkSubmit" [(ngModel)]="linkSubmitStr" [value]="linkSubmitStr" class="infoBoxTextField" placeholder="enter playlist id here">
    <button class="infoBoxSubmitButton" (click)="AnalysisButtonClicked()">Analyze Playlist</button>
  </div>


  <h2>Response:</h2>
  

  <div class="responseBox dropShadow" [hidden]="hidden">

    <div *ngIf="userPlaylist && userPlaylist.tracks">
      <div class="widget">
        <iframe [src]="widgetSubmitStr | safe" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>

      <div class="composite-score">
        <p #metricSelectedDisplay *ngIf="metricSelected">
          {{metricSelected}}:
        </p>
        <p #averageDisplay *ngIf="average">
          {{average}}
        </p>
      </div>

      <div class="tracklist">
        <p>TrackNames:</p>
        <div class="responseTrack" *ngFor="let track of userPlaylist.tracks">
          <p>
                Track Name: {{track.name}} 
          </p>
          <p>
                Album: {{track.album.name}}
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <app-cards [items]="apiResponse"></app-cards> -->